<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" href="dicktus.css"/>
        <meta charset="utf-8" />
        <title>SHOP NOW ! on Dicktus © </title>
    </head>
    <body class="body" bgcolor="black">

        <div class="logo"><img src="project.png" class="logo"></div>
        <div class="detail">SHOP NOW on DICKTUS !</div>
    <table border="0" cellpadding="15" cellspacing="15" style="margin:auto;">
        <td>
        <div class="firstbox">
            <div class="title">DICKTUS BLACK SWEAT</div>
            <div class="picture"><div class="nopicture">NO<br> PICTURE</div></div>
            <div class="pricezone"><span class="oldprice">39,99$</span><div class="newprice">32.99$</div></div>
            <button class="order">Order</button>
        </div>
        </td>
        <td>
        <div class="firstbox">
            <div class="title">DICKTUS CASE</div>
            <div class="picture"><div class="nopicture">NO<br> PICTURE</div></div>
            <div class="pricezone"><span class="oldprice">14.99</span><div class="newprice">9.99$</div></div>
            <button class="order">Order</button>
        </div>
        </td>
        <td>
            <div class="firstbox">
            <div class="title">DICKTUS BATTERY</div>
            <div class="picture"><div class="nopicture">NO<br> PICTURE</div></div>
            <div class="pricezone"><span class="oldprice" style="text-decoration: none;">19.99$</span><div class="newprice" style="visibility: hidden;">none</div></div>
            <button class="order">Order</button>
        </div>
        </td>
    </table>
    </body>
    <footer>
        All right reserved to Dicktus Production | © Dicktus.
    </footer>
</html>
